<div id="main-nav" class="row">
  <div id="title-logo" class="item">
    <div class="logo"><a href="https://www.publicsource.org/"><img src="https://ps-apps-assets.s3.amazonaws.com/power-of-place/logo.png" alt="logo"></a></div>
    <div class="title"><a href="#">The true cost of court debt</a></div>
  </div>

  <div id="main-nav-links" class="item">
    <span><a id="active" href="">PART 1</a></span>
    <span class="mobile-no-show" style="color: white;" >|</span>
    <span class="inactive"><a style="cursor: not-allowed;" href="">PART 2</a></span>
    <span class="mobile-no-show" style="color: white;" >|</span>
    <span class="inactive"><a style="cursor: not-allowed;" href="">PART 3</a></span>
    <span class="mobile-no-show" style="color: white;" >|</span>
    <span class="inactive"><a style="cursor: not-allowed;" href="">PART 4</a></span>
    <span><a style="color: #fb6927; font-weight: 600;" href="https://www.publicsource.org/donate-to-publicsource/">DONATE</a></span>
  </div>
  <div id="nav-burger"><i class="fal fa-bars"></i></div>
</div>
