<section id='scrolly4'>

  <figure>
    <img id='picture1' src="/assets/images/offense.jpg" alt="map slide 1" class='is-visible'>
    <img id='picture2' src="/assets/images/fine.jpg" alt="map slide 2">
    <img id='picture3' src="/assets/images/fees.jpg" alt="map slide 3">
    <img id='picture4' src="/assets/images/totals.jpg" alt="map slide 3">
  </figure>

	<article>
		<div class='step' data-step='1'>
			<p>Blah blha blah</p>
		</div>
		<div class='step' data-step='2'>
			<p>The Ohio River watershed covers 205,000 square miles across 15 states: Pennsylvania, Ohio, Kentucky, West Virginia, Indiana, Illinois, Tennessee, New York, Virginia, Maryland, Georgia, Mississippi, Alabama, North Carolina and South Carolina.</p>
		</div>
		<div class='step' data-step='3'>
			<p>The Ohio is commonly cited as the most polluted river in the United States.</p>
		</div>
		<div class='step' data-step='4'>
			<p>The river supplies about five million people with drinking water.</p>
		</div>
	</article>

</section>
