<section id='scrolly2'>

  <figure>
		<img id='image1' src="https://www.ohiowatershed.org/assets/story-images/WFPL-riverfront-revival/riverfront-revival-forecastle2019.jpg" alt="map slide 1" class='is-visible'>
		<img id='image2' src="https://www.ohiowatershed.org/assets/story-images/WFPL-riverfront-revival/riverfront-revival-martin.jpg" alt="map slide 2">
		<img id='image3' src="https://www.ohiowatershed.org/assets/story-images/WFPL-riverfront-revival/riverfront-revival-indiana-road.jpg" alt="map slide 3">
		<img id='image4' src="https://www.ohiowatershed.org/assets/story-images/WFPL-riverfront-revival/riverfront-revival-wicks.jpg" alt="map slide 4">
	</figure>

	<article>
		<div class='step' data-step='1'>
			<p>Blah blha blah</p>
		</div>
		<div class='step' data-step='2'>
			<p>The Ohio River watershed covers 205,000 square miles across 15 states: Pennsylvania, Ohio, Kentucky, West Virginia, Indiana, Illinois, Tennessee, New York, Virginia, Maryland, Georgia, Mississippi, Alabama, North Carolina and South Carolina.</p>
		</div>
		<div class='step' data-step='3'>
			<p>The Ohio is commonly cited as the most polluted river in the United States.</p>
		</div>
		<div class='step' data-step='4'>
			<p>The river supplies about five million people with drinking water.</p>
		</div>
	</article>

</section>
