<section id='scrolly3'>

  <article>
    <div class='step' data-step='1'>
      <p>Something about the lead offense would go here and it would be so great we'd all cry.</p>
    </div>
    <div class='step' data-step='2'>
      <p>Something about the fine would go here and it would be so great we'd all cry.</p>
    </div>
    <div class='step' data-step='3'>
      <p>Something about the fees would go here and it would be so great we'd all cry.</p>
    </div>
    <div class='step' data-step='4'>
      <p>Something about the total would go here and it would be so great we'd all cry.</p>
    </div>
  </article>

  <figure>
    <img id='photo1' src="./assets/images/offense.jpg" alt="map slide 1" class='is-visible'>
    <img id='photo2' src="./assets/images/fine.jpg" alt="map slide 2">
    <img id='photo3' src="./assets/images/fees.jpg" alt="map slide 3">
    <img id='photo4' src="./assets/images/totals.jpg" alt="map slide 3">
  </figure>

</section>
