<!-- Story text, pullquotes, inline image, solution boxes and tooltip -->
<div class="u-container-text">

  <% story.sections.forEach(function(section, i) { %>

    <!-- Story text -->
    <% if(section.type == "text"){ %>
      <%= t.renderMarkdown(story.sections[i].value) %>

    <!-- Subhed -->
    <% }else if(section.type == "subhed"){ %>
      <div class="subhed">
        <h2><%= section.value.text %></h2>
      </div>

    <% }else if(section.type == "pullquote"){ %>
      <h3 class="type-it-pullquote"><%= section.value.text %></h3>

    <!-- Inline image -->
    <% }else if(section.type == "inline-img"){ %>
      <img class="inline-img" alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
      <div class="caption">
        <p><%= section.value.caption %></p>
      </div>

      <% }else if(section.type == "cta-box"){ %>
        <div class="cta-box">
          <em><%= section.value.text %></em>
        </div>

    <!-- Expander 1 -->
    <% }else if(section.type == "expander1"){ %>
    <div class="u-pull-right">
      <div class="expander-container">
        <h1><%= section.value.title %></h1>
          <div class="spoiler">
          <p class="hidden-text">
            <%= section.value.text %>
          </p>
        </div>
      </div>
    </div>

    <!-- Expander 2 -->
    <% }else if(section.type == "expander2"){ %>
    <div class="u-pull-right">
      <div class="expander-container">
        <h1><%= section.value.title %></h1>
          <div class="spoiler2">
          <p class="hidden-text2">
            <%= section.value.text %>
          </p>
        </div>
      </div>
    </div>

    <!-- Expander 2 -->
    <% }else if(section.type == "expander3"){ %>
    <div class="u-pull-right">
      <div class="expander-container">
        <h1><%= section.value.title %></h1>
          <div class="spoiler3">
          <p class="hidden-text3">
            <%= section.value.text %>
          </p>
        </div>
      </div>
    </div>

    <!-- Hero image + caption -->
    <% }else if(section.type == "hero"){ %>
      </div>
        <div class="hero-image u-max-full-width">
          <img alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
        </div>
        <div class="caption">
          <p><%= section.value.caption %></p>
        </div>
      <div class="u-container-text">

    <!-- Scrollama 1 -->
    <% }else if(section.type == "scrollama1"){ %>
      </div>
      <section id='scrolly'>

        <figure>
      		<img id='img1' src="<%= section.value.img1 %>" alt="<%= section.value.alt1 %>" class='is-visible'>
      	</figure>

      	<article>
      		<div class='step' data-step='1'>
      			<p><%= section.value.text1 %></p>
      		</div>
      	</article>

      </section>

      <div class="u-container-text">

    <!-- Scrollama 2 -->
    <% }else if(section.type == "scrollama2"){ %>
      </div>
      <section id='scrolly2'>

        <figure>
      		<img id='image1' src="<%= section.value.img1 %>" alt="<%= section.value.alt1 %>" class='is-visible'>
      		<img id='image2' src="<%= section.value.img2 %>" alt="<%= section.value.alt2 %>">
      	</figure>

      	<article>
      		<div class='step' data-step='1'>
      			<p><%= section.value.text1 %></p>
      		</div>
      		<div class='step' data-step='2'>
      			<p><%= section.value.text2 %></p>
      		</div>
      	</article>

      </section>

      <div class="u-container-text">

    <!-- Scrollama 3 -->
    <% }else if(section.type == "scrollama3"){ %>
      </div>
      <section id='scrolly3'>

        <article>
          <div class='step' data-step='1'>
            <p><%= section.value.text1 %></p>
          </div>
          <div class='step' data-step='2'>
            <p><%= section.value.text2 %></p>
          </div>
          <div class='step' data-step='3'>
            <p><%= section.value.text3 %></p>
          </div>
          <div class='step' data-step='4'>
            <p><%= section.value.text4 %></p>
          </div>
          <div class='step' data-step='5'>
            <p><%= section.value.text5 %></p>
          </div>
          <div class='step' data-step='6'>
            <p><%= section.value.text6 %></p>
          </div>
          <div class='step' data-step='7'>
            <p><%= section.value.text7 %></p>
          </div>
          <div class='step' data-step='8'>
            <p><%= section.value.text8 %></p>
          </div>
          <div class='step' data-step='9'>
            <p><%= section.value.text9 %></p>
          </div>
          <div class='step' data-step='10'>
            <p><%= section.value.text10 %></p>
          </div>
          <div class='step' data-step='11'>
            <p><%= section.value.text11 %></p>
          </div>
          <div class='step' data-step='12'>
            <p><%= section.value.text12 %></p>
          </div>
          <div class='step' data-step='13'>
            <p><%= section.value.text13 %></p>
          </div>
        </article>

        <figure>
          <img id='photo1' src="<%= section.value.img1 %>" alt="<%= section.value.alt1 %>" class='is-visible'>
          <img id='photo2' src="<%= section.value.img2 %>" alt="<%= section.value.alt2 %>">
          <img id='photo3' src="<%= section.value.img3 %>" alt="<%= section.value.alt3 %>">
          <img id='photo4' src="<%= section.value.img4 %>" alt="<%= section.value.alt4 %>">
          <img id='photo5' src="<%= section.value.img5 %>" alt="<%= section.value.alt5 %>">
          <img id='photo6' src="<%= section.value.img6 %>" alt="<%= section.value.alt6 %>">
          <img id='photo7' src="<%= section.value.img7 %>" alt="<%= section.value.alt7 %>">
          <img id='photo8' src="<%= section.value.img8 %>" alt="<%= section.value.alt8 %>">
          <img id='photo9' src="<%= section.value.img9 %>" alt="<%= section.value.alt9 %>">
          <img id='photo10' src="<%= section.value.img10 %>" alt="<%= section.value.alt10 %>">
          <img id='photo11' src="<%= section.value.img11 %>" alt="<%= section.value.alt11 %>">
          <img id='photo12' src="<%= section.value.img12 %>" alt="<%= section.value.alt12 %>">
          <img id='photo13' src="<%= section.value.img13 %>" alt="<%= section.value.alt13 %>">
        </figure>

      </section>

      <div class="u-container-text">

    <!-- Scrollama 4 -->
    <% }else if(section.type == "scrollama4"){ %>
      </div>

      <section id='scrolly4'>

        <figure>
          <img id='picture1' src="<%= section.value.img1 %>" alt="<%= section.value.alt1 %>" class='is-visible'>
          <img id='picture2' src="<%= section.value.img2 %>" alt="<%= section.value.alt2 %>">
          <img id='picture3' src="<%= section.value.img3 %>" alt="<%= section.value.alt3 %>">
          <img id='picture4' src="<%= section.value.img4 %>" alt="<%= section.value.alt4 %>">
          <img id='picture5' src="<%= section.value.img5 %>" alt="<%= section.value.alt5 %>">
          <img id='picture6' src="<%= section.value.img6 %>" alt="<%= section.value.alt6 %>">
          <img id='picture7' src="<%= section.value.img7 %>" alt="<%= section.value.alt7 %>">
          <img id='picture8' src="<%= section.value.img8 %>" alt="<%= section.value.alt8 %>">
          <img id='picture9' src="<%= section.value.img9 %>" alt="<%= section.value.alt9 %>">
          <img id='picture10' src="<%= section.value.img10 %>" alt="<%= section.value.alt10 %>">
          <img id='picture11' src="<%= section.value.img11 %>" alt="<%= section.value.alt11 %>">
          <img id='picture12' src="<%= section.value.img12 %>" alt="<%= section.value.alt12 %>">
          <img id='picture13' src="<%= section.value.img13 %>" alt="<%= section.value.alt13 %>">
        </figure>

      	<article>
      		<div class='step' data-step='1'>
      			<p><%= section.value.text1 %></p>
      		</div>
      		<div class='step' data-step='2'>
      			<p><%= section.value.text2 %></p>
      		</div>
      		<div class='step' data-step='3'>
      			<p><%= section.value.text3 %></p>
      		</div>
      		<div class='step' data-step='4'>
      			<p><%= section.value.text4 %></p>
      		</div>
          <div class='step' data-step='5'>
            <p><%= section.value.text5 %></p>
          </div>
          <div class='step' data-step='6'>
            <p><%= section.value.text6 %></p>
          </div>
          <div class='step' data-step='7'>
            <p><%= section.value.text7 %></p>
          </div>
          <div class='step' data-step='8'>
            <p><%= section.value.text8 %></p>
          </div>
          <div class='step' data-step='9'>
            <p><%= section.value.text9 %></p>
          </div>
          <div class='step' data-step='10'>
            <p><%= section.value.text10 %></p>
          </div>
          <div class='step' data-step='11'>
            <p><%= section.value.text11 %></p>
          </div>
          <div class='step' data-step='12'>
            <p><%= section.value.text12 %></p>
          </div>
          <div class='step' data-step='13'>
            <p><%= section.value.text13 %></p>
          </div>
      	</article>

      </section>

      <div class="u-container-text">

<% } %>

<% }); %>

</div>
