<!-- Story text, pullquotes, inline image, solution boxes and tooltip -->
<div class="u-container-text">

  <% story.sections.forEach(function(section, i) { %>

    <!-- Story text -->
    <% if(section.type == "text"){ %>
      <%= t.renderMarkdown(story.sections[i].value) %>

    <!-- Name, location, type -->
    <% }else if(section.type == "name-title"){ %>
      <p class="name-title"><%= section.value.text %></p>

    <!-- Subhed -->
    <% }else if(section.type == "subhed"){ %>
    </div>

      <div class="u-container-text-color">
        <div class="subhed">
          <h2><%= section.value.text %></h2>
        </div>
        <div class="media-medium-big">
          <img alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
        </div>
        <div class="caption">
          <p><%= section.value.caption %></p>
        </div>
      </div>

      <div class="u-container-text">

    <% }else if(section.type == "pullquote"){ %>
      <h3><%= section.value.text %></h3>

    <!-- Inline image -->
    <% }else if(section.type == "inline-img"){ %>
      <img class="inline-img" alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
      <div class="caption">
        <p><%= section.value.caption %></p>
      </div>

    <% }else if(section.type == "cta-box"){ %>
      <div class="cta-box">
        <em><%= section.value.text %></em>
      </div>

    <!-- Hero image + caption -->
    <% }else if(section.type == "hero"){ %>
      </div>
        <div class="hero-image u-max-full-width">
          <img alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
        </div>
        <div class="caption">
          <p><%= section.value.caption %></p>
        </div>
      <div class="u-container-text">

    <!-- Big image + caption -->
    <% }else if(section.type == "bigger-image"){ %>
      </div>
      <div class="media-medium-big">
        <img alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
      </div>
      <div class="caption">
        <p><%= section.value.caption %></p>
      </div>
      <div class="u-container-text">

<% } %>

<% }); %>

</div>
