<div class="lead-wrapper">
  <div class="lead-headline">
    <div class="headline-text">
      <p class="date">February 13, 2020</p>
      <h1>A $25 fine can wind up costing more than $150. So where does the rest of the money go?</h1>
      <p>By Juliette Rihl</p>
    </div>
  </div>
  <div class="lead-photo">
    <img alt="#" src="./assets/images/story-2/lead-desktop.jpg" />
  </div>
</div>

<div class="lead-wrapper-mobile">
  <div class="lead-headline-mobile">
    <div class="headline-text-mobile">
      <p class="date-mobile">February 13, 2020</p>
      <h1>A $25 fine can wind up costing more than $150. So where does the rest of the money go?</h1>
      <p>By Juliette Rihl</p>
    </div>
  </div>
  <div class="lead-photo-mobile">
    <img alt="#" src="./assets/images/story-2/lead-mobile.jpg" />
  </div>
</div>
