<div class="lead-headline">
  <div class="headline-text">
    <h1>Survivors and loved ones recount the pains of Southwestern Pennsylvania’s opioid crisis during COVID</h1>
  </div>
</div>

<div class="u-container">
  <p class="author">Oliver Morrison</p>
  <p class="date">Jan. 25, 2021</p>
</div>

<div style="text-align: center;">
  <img class="media-medium-big" src="https://lh3.googleusercontent.com/fife/ABSRlIqv5w_23XW2_cWaV5tMCSDt6eg6xxVD-7dWKTQUTVFc0E64NNww-MLSOYceeMi6-_jJN5f4FjgH5hRryd7bf_q6McHPC7cPa8yCadNHpdQ-NNSP7El9uh4YKfGmtF5ur-d1Udd65h2-Q0bpCCfw2eRAgvd4fCbjpg0c0Flgk1nCcz7Jl4hkjgkz3ao4fy1BhHjXbqaqIZZrvoyluI3cvVuY3Vy0Vh5BFX-Wk18oZ8xzhsKSJOeMVbT9tpETym3vIV732P6hzls8OyS2xusg4GOhV6IzAAfCVmtZQkQGCG37ahqnNPmNC_xKubiermOalbNNQ_cg3O5Mn1SC2tU5LFwFbomIWkBBeKA1yZu1ZQkq_4W7hCs25gq-CItm2QprXWSAXOtSNpXpcu9Rc1OdMOFPI4mkjjxfBNy8ND1PabJucRLOGsOo9oOX1AbI5F_N3Ct3SQWkxyxw_6rKLjuqZykM59QOYfhRZeS8IDsgQCldnA2SQ7F1sxFqpPQkmQQrXzD_TDhKleqk2v9j4zXkAf6LuQhCcGCy8gfzmK57mrVWjo3T0YSAU4EGtdYJTRgER-K_7AfhXwUbvtpagOJwMqCXuKdfEnQO1dYaRRIf3WjOOrKvZ6ZVq86kfo2jMeKkEyS4nmdXjpioGvotno6tBaJEtHBtGFZVCRFb1BGxSnNDZhU86mJdLmb_RRY2iPZ8bFvlHcg_Z3NB6BNIMt4OiCQNUJSetJQ60R5Gqg=s1800-w1800-h1200-no?authuser=3" alt="#" />
</div>
