.lead-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: cover;
  background-color: black;
}

.lead-photo {
}

.lead-photo img {
  height: 100vh;
  width: 50vw;
  object-fit: cover;
}

.lead-headline {
  background-color: black;
  height: 100vh;
  width: 50vw;
  display: grid;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.headline-text {

}

.headline-text p {
  font-family: @mallory;
  max-width: 375px;
  text-align: center;
  font-size: 1em;
  color: @justice-beige-darker;
}

.headline-text h1 {
  font-family: @mallory;
  max-width: 375px;
  text-align: center;
  font-size: 2em;
  color: white;
  font-weight: 700;
}

.date {
  text-transform: uppercase;
  color: white !important;
  font-family: @mono !important;
}
