.u-container-text {
    font-family: garamond-premier-pro, serif;
    font-size: 22.5px;
    max-width: 700px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    @media @mobile {
      margin-top: 1.5em;
      margin-left: 20px;
      margin-right: 20px;
    }
}

.u-container-top {
    font-family: garamond-premier-pro, serif;
    font-size: 22.5px;
    max-width: 1250px;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    @media @mobile {
      margin-top: 1.5em;
      margin-left: 20px;
      margin-right: 20px;
    }
}


.u-container-text-color {
    font-family: garamond-premier-pro, serif;
    background-color: @beige;
    font-size: 22px;
    margin-top: 3em;
    text-align: left;
    display: grid;
    justify-content: center;
    align-items: center;
    @media @mobile {
      margin-top: 1.5em;
    }
}

.u-container-text-color h2 {
  font-family: @mallory;
  font-size: 1.1em;
  font-weight: 800;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  max-width: 700px;
  line-height: 1.4;
  @media @mobile {
    font-size: .975em;
    margin-top: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.u-container-text-color span {
  font-weight: 300 !important;
}

.u-container-text h3 {
  font-family: @mallory;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.05em;
  color: @dusty-red;
  margin: 1em 0 1em 0;
  @media @mobile {
  font-size: 1.2em;
  }
}

.u-container-text a {
  color: #418cff !important;
  text-decoration: none;
}

.subhed {
  padding: 1.5em 0 1.5em 0;
  @media @mobile {
  padding: .5em 0 .5em 0;
  }
}

.name-title span {
  font-family: @mallory !important;
  font-weight: 700;
  font-size: 19.75px;
}

.name-title {
  font-family: garamond-premier-pro, serif;
  font-size: 22px;
  line-height: 1.4;
}

// Photos

.hero-image img {
  width: 100%;
  padding-top: .5em;
  @media @mobile {
    padding-top: .5em;
  }
}

.inline-img {
  padding-top: 1em;
  @media @mobile {
    padding-top: 0;
  }
}

.caption {
  text-align: left;
  margin-left: 15px;
  max-width: 1000px;
  font-family: @serif;
  margin-bottom: 30px;
  @media @mobile {
    padding-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
}

.caption p {
  font-family: @mallory;
  font-size: 13.5px;
  font-weight: 300;
  color: 	#787878;
  @media @mobile {
  font-size: 12px;
  }
}

.cta-box {
  background-color: @justice-beige;
  color: black;
  padding: 10px;
}
