<!doctype html>
<html lang="en-US">

<%= t.include("partials/_head.html") %>

<body>

    <%= t.include("partials/_story.html", {'story': archieml.TenantCitiesPart1}) %>

    <div style="padding-bottom: 2em;"></div>

  <!-- Footer -->
  <!-- <%= t.include("partials/_footer.html") %> -->

  <script src="app.js" async></script>
  
  <!-- Pym -->
  <script type="text/javascript">
    const pymChild = new pym.Child({ polling: 100 });
  </script>

  <!-- <%= t.include("partials/_analytics.html") %> -->
  </body>
</html>
